[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]

[packages]
flask = "*"
blueprint = "*"
python-dotenv = "*"
opencv-python = "*"
numpy = "*"
scikit-learn = "*"
dlib = "*"
pandas = "*"

[requires]
python_version = "3.7"
